<!-- <div id="map"></div>
	<script>
	function initMap() {
	        // Create a map object and specify the DOM element for display.
	        var map = new google.maps.Map(document.getElementById('map'), {
	          center: {lat: -34.397, lng: 150.644},
	          scrollwheel: false,
	          zoom: 8
	        });
	}

	</script>

<script src=<%= "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api_key']}&callback=initMap" %> async defer></script> -->

hello from the show path<br/>

<%= 'greetings ' + @user.first_name %>