<!DOCTYPE html>
<html>
<head>
  <title>ScavengerHunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://developers.google.com/maps/documentation/javascript/demos/demos.css">
</head>
<body>

<%= yield %>

</body>
</html>
